<div id="header" class="header-page">
   <div class="container">

      <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row">
         <div class="wpb_column column_container col-sm-12">
            <div class="vc_column-inner ">
               <div class="wpb_wrapper">
                  <div class="main-nav main-nav4 main-nav-light">
                     <ul id="menu-menu-light" class="main-menu newday-menu">
                        <li id="nav-menu-item-996" class="main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current_page_ancestor menu-item-has-children">
                           <%= link_to "Megazn.com", root_path, class: "menu-link main-menu-link" %>
                        </li>
                        <li id="nav-menu-item-1009" class="main-menu-item  menu-item-even menu-item-depth-0 has-mega-menu light menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
                           <a href="../category/world/index.html" class="menu-link main-menu-link">World</a>
                           <ul class="sub-menu menu-odd  menu-depth-1" style="margin-top:5px;">
                              <li class="col-md-3 col-sm-6">
                                 <div class="mega-menu-content">
                                    <div class="extra-mega-dropdown">
                                       <h2>News</h2>
                                       <div class="control-mega-slider">
                                          <a href="#" class="prev"><span class="lnr lnr-chevron-down-circle"></span></a>
                                          <a href="#" class="next"><span class="lnr lnr-chevron-up-circle"></span></a>
                                       </div>
                                       <div class="vertical-mega-slider">
                                          <ul>
                                             <li><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></li>
                                             <li><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></li>
                                             <li><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html">Aucibus mollis inter paling libero ementum</a></li>
                                             <li><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></li>
                                             <li><a href="../2016/02/16/appling-codon-paling-fauci-3/index.html">Appling codon paling Fauci</a></li>
                                             <li><a href="../2016/02/16/praesent-vestibulum-moles-3/index.html">Praesent vestibulum moles</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="col-md-4 col-sm-6">
                                 <div class="mega-menu-content">
                                    <div class="simple-post-mega">
                                       <a href="../2016/01/20/aenean-nonummy-hen-drerit-mauris-pari/index.html"><img width="370" height="208" src="assets/4-370x208.jpg" class="attachment-370x208 size-370x208 wp-post-image" alt="Highways Agencys Images are protected by copyright. This Image cannot be used without a license agreement. You must comply with the license applicable to the reproduction of this Image. Terms and Conditions at www.photos.highways.gov.uk" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-370x208.jpg 370w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-433x244.jpg 433w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-270x152.jpg 270w" sizes="(max-width: 370px) 100vw, 370px" /></a>
                                       <h3><a href="../2016/01/20/aenean-nonummy-hen-drerit-mauris-pari/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imperdiet ement </p>
                                    </div>
                                 </div>
                              </li>
                              <li class="col-md-5 col-sm-6">
                                 <div class="mega-menu-content">
                                    <div class="mega-more-news">
                                       <h2>MORE NEWS</h2>
                                       <div class="item-mega-more-news">
                                          <div class="mega-more-news-index"><span>1</span></div>
                                          <div class="mega-more-news-title">
                                             <h3><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                          </div>
                                          <div class="mega-more-news-link"><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html"><img width="120" height="80" src="assets/2-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Startup Stock Photo" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a></div>
                                       </div>
                                       <div class="item-mega-more-news">
                                          <div class="mega-more-news-index"><span>2</span></div>
                                          <div class="mega-more-news-title">
                                             <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                          </div>
                                          <div class="mega-more-news-link"><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html"><img width="120" height="80" src="assets/3-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="3" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-600x400.jpg 600w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a></div>
                                       </div>
                                       <div class="item-mega-more-news">
                                          <div class="mega-more-news-index"><span>3</span></div>
                                          <div class="mega-more-news-title">
                                             <h3><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html">Aucibus mollis inter paling libero ementum</a></h3>
                                          </div>
                                          <div class="mega-more-news-link"><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html"><img width="120" height="80" src="assets/4-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Highways Agencys Images are protected by copyright. This Image cannot be used without a license agreement. You must comply with the license applicable to the reproduction of this Image. Terms and Conditions at www.photos.highways.gov.uk" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-182x121.jpg 182w" sizes="(max-width: 120px) 100vw, 120px" /></a></div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </li>
                        <li id="nav-menu-item-1018" class="main-menu-item  menu-item-even menu-item-depth-0 has-mega-menu light menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                           <a href="#" class="menu-link main-menu-link">Entertainment</a>
                           <ul class="sub-menu menu-odd menu-depth-1" style="margin-top:5px;">
                              <li class="col-md-12">
                                 <div class="mega-menu-content">
                                    <div class="row">
                                       <div class="col-md-3 col-sm-3 col-xs-12">
                                          <div class="mega-tab-nav">
                                             <h2>Categories</h2>
                                             <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#world" aria-controls="world" role="tab" data-toggle="tab">World</a></li>
                                                <li role="presentation" class=""><a href="#technology" aria-controls="technology" role="tab" data-toggle="tab">Technology</a></li>
                                                <li role="presentation" class=""><a href="#health" aria-controls="health" role="tab" data-toggle="tab">Health</a></li>
                                                <li role="presentation" class=""><a href="#sport" aria-controls="sport" role="tab" data-toggle="tab">Sport</a></li>
                                                <li role="presentation" class=""><a href="#travel" aria-controls="travel" role="tab" data-toggle="tab">Travel</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="col-md-9 col-sm-9 col-xs-12">
                                          <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane active" id="world">
                                                <div class="mega-tab-content">
                                                   <div class="row">
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/aucibus-mollis-inter-paling-libero-ementum/index.html"><img width="270" height="180" src="assets/6-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="6" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/6.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/asian/index.html" rel="tag">Asian</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/aucibus-mollis-inter-paling-libero-ementum/index.html">Aucibus mollis inter  paling libero ementum</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html"><img width="270" height="180" src="assets/11-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="11" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-270x180.jpg 270w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/europe/index.html" rel="category tag">Europe</a>, <a href="../category/health/index.html" rel="category tag">Health</a>, <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/asian/index.html" rel="tag">Asian</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html">Praesent justo dolor, lobortis quis</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html"><img width="270" height="180" src="assets/12-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="12" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/gallery/index.html" rel="category tag">Gallery</a>, <a href="../category/health/index.html" rel="category tag">Health</a>, <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/travel/index.html" rel="tag">Travel</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html">Mollis inter appling codon paling Faucibus in hoeng</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane " id="technology">
                                                <div class="mega-tab-content">
                                                   <div class="row">
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html"><img width="270" height="180" src="assets/2-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="Startup Stock Photo" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/technology/index.html" rel="category tag">Technology</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html"><img width="270" height="180" src="assets/3-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="3" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-600x400.jpg 600w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/technology/index.html" rel="category tag">Technology</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/aenean-nonummy-hendrerit-mauris-pari-3/index.html"><img width="270" height="180" src="assets/32-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="32" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/technology/index.html" rel="category tag">Technology</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/aenean-nonummy-hendrerit-mauris-pari-3/index.html">Aenean nonummy hendrerit mauris pari</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane " id="health">
                                                <div class="mega-tab-content">
                                                   <div class="row">
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html"><img width="270" height="180" src="assets/11-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="11" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/11-270x180.jpg 270w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/europe/index.html" rel="category tag">Europe</a>, <a href="../category/health/index.html" rel="category tag">Health</a>, <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/asian/index.html" rel="tag">Asian</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html">Praesent justo dolor, lobortis quis</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html"><img width="270" height="180" src="assets/12-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="12" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/12.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/gallery/index.html" rel="category tag">Gallery</a>, <a href="../category/health/index.html" rel="category tag">Health</a>, <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/travel/index.html" rel="tag">Travel</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html">Mollis inter appling codon paling Faucibus in hoeng</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/aenean-nonummy-hendrerit-mauris-pari/index.html"><img width="270" height="180" src="assets/13-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="13" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/13-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/13-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/13-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/13-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/13.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/health/index.html" rel="category tag">Health</a>, <a href="../category/video/index.html" rel="category tag">Video</a>, <a href="../category/world/index.html" rel="category tag">World</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/entertainment/index.html" rel="tag">entertainment</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/aenean-nonummy-hendrerit-mauris-pari/index.html">Aenean nonummy hendrerit mauris pari</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane " id="sport">
                                                <div class="mega-tab-content">
                                                   <div class="row">
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html"><img width="270" height="180" src="assets/38-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="38" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/sport/index.html" rel="category tag">Sport</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/mollis-inter-appling-co-doningin-2/index.html"><img width="270" height="180" src="assets/28-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="28" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/business/index.html" rel="category tag">Business</a>, <a href="../category/sport/index.html" rel="category tag">Sport</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/mollis-inter-appling-co-doningin-2/index.html">Mollis inter appling co doningin</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/01/20/inter-appling-codon-pali-ng-faucibus/index.html"><img width="270" height="180" src="assets/2-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="Startup Stock Photo" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2.jpg 1200w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/american/index.html" rel="category tag">American</a>, <a href="../category/sport/index.html" rel="category tag">Sport</a></li>
                                                                  <li>Post by: <a href="../author/admin/index.html">admin</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label>  <a href="../tag/travel/index.html" rel="tag">Travel</a> 
                                                               </div>
                                                               <h3><a href="../2016/01/20/inter-appling-codon-pali-ng-faucibus/index.html">Inter appling codon pali ng Faucibus</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane " id="travel">
                                                <div class="mega-tab-content">
                                                   <div class="row">
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/appling-codon-paling-fauci-3/index.html"><img width="270" height="180" src="assets/36-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="36" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-768x511.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-270x180.jpg 270w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/travel/index.html" rel="category tag">Travel</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/appling-codon-paling-fauci-3/index.html">Appling codon paling Fauci</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-3/index.html"><img width="270" height="180" src="assets/34-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="34" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-270x180.jpg 270w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/travel/index.html" rel="category tag">Travel</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-3/index.html">Praesent justo dolor, lobortis quis</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-4 col-sm-4 col-xs-12">
                                                         <div class="item-mega-post-tab">
                                                            <div class="mega-post-tab-thumb">
                                                               <a href="../2016/02/16/appling-codon-paling-2/index.html"><img width="270" height="180" src="assets/30-270x180.jpg" class="attachment-270x180 size-270x180 wp-post-image" alt="30" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-120x80.jpg 120w" sizes="(max-width: 270px) 100vw, 270px" /></a>
                                                               <ul>
                                                                  <li class="cat-list">in: <a href="../category/travel/index.html" rel="category tag">Travel</a></li>
                                                                  <li>Post by: <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                               </ul>
                                                            </div>
                                                            <div class="mega-post-tab-info">
                                                               <div class="top-post-info-extra">
                                                                  <span>0</span> <label>tags:</label> No Tags
                                                               </div>
                                                               <h3><a href="../2016/02/16/appling-codon-paling-2/index.html">Appling codon paling</a></h3>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </li>
                     <% @cate.each do |c| %>       
                        <li id="nav-menu-item-1006" class="main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-taxonomy menu-item-object-category">

                        <%= link_to c.title, root_path, class: "menu-link main-menu-link" %>
                        </li>
                     <% end %>
                     </ul>
                     <div class="mobile-menu">
                        <span class="mobile-menu-text">Menu</span>
                        <a href="#" class="btn-mobile-menu"><span class="lnr lnr-menu"></span></a>
                     </div>
                  </div>
                  <div class="extra-content">
                     <div class="extra-menu">
                        <a href="#" class="btn-extra-menu">More <span class="lnr lnr-menu"></span></a>
                     </div>
                     <div class="extra-menu-dropdown">
                        <div class="row">
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <h2>MORE</h2>
                              </div>
                           </div>
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <ul>
                                    <li><a href="#">Autos</a></li>
                                    <li><a href="#">Future</a></li>
                                    <li><a href="#">TV</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <ul>
                                    <li><a href="#">Radio</a></li>
                                    <li><a href="#">Nature</a></li>
                                    <li><a href="#">CBeebies</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <ul>
                                    <li><a href="#">Food</a></li>
                                    <li><a href="#">iWonder</a></li>
                                    <li><a href="#">Bitesize</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <ul>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Arts</a></li>
                                    <li><a href="#">Make It Digital</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-2 col-sm-4 col-xs-12">
                              <div class="item-extra-menu">
                                 <ul>
                                    <li><a href="#">Taster</a></li>
                                    <li><a href="#">Local</a></li>
                                    <li><a href="#">Trending</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="vc_row-full-width"></div>
   </div>
</div>