
<div class="hot-topic-slider">
   <div class="title-topic-slider" style="margin-bottom:30px;">
      <label>a-Topics</label>
      <div class="sv-slider " data-item="1" data-speed="5000" data-itemres="" data-animation="" data-nav="content-owl-speaker">
         <div class="wpb_text_column wpb_content_element  vc_custom_1457606357782">
            <div class="wpb_wrapper">
               <p>Rachel Beckwith&#8217;s Mom Visits Ethiopia&#8230;.</p>
            </div>
         </div>
         <div class="wpb_text_column wpb_content_element  vc_custom_1457606357782">
            <div class="wpb_wrapper">
               <p>Rachel Beckwith&#8217;s Mom Visits Ethiopia&#8230;.</p>
            </div>
         </div>
         <div class="wpb_text_column wpb_content_element  vc_custom_1457606357782">
            <div class="wpb_wrapper">
               <p>Rachel Beckwith&#8217;s Mom Visits Ethiopia&#8230;.</p>
            </div>
         </div>
      </div>
   </div>
</div>
