
   <div class="wrap">
      <%= render 'header' %>
      <div id="main-content" class="visual-page">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <article class="post-895 page type-page status-publish hentry">
                     <div class="entry-content">
                        <div class="vc_row wpb_row" style="margin-top:20px;">
                           <div class="wpb_column column_container col-sm-12 col-md-6">
                              <div class="vc_column-inner ">
                                 <div class="wpb_wrapper">
                                       <%= render 'hotnews' %>
                                       <%= render 'slide' %>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/world/index.html">World</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/01/20/aucibus-mollis-inter-paling-libero-ementum/index.html"><img width="300" height="170" src="assets/6-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="6" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label>  <a href="../tag/asian/index.html" rel="tag">Asian</a> 
                                                </div>
                                                <h3><a href="../2016/01/20/aucibus-mollis-inter-paling-libero-ementum/index.html">Aucibus mollis inter  paling libero ementum</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 20 Jan 2016</li>
                                                   <li>By  <a href="../author/admin/index.html">admin</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html">Praesent justo dolor, lobortis quis<img width="70" height="51" src="assets/11-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="11" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html">Mollis inter appling codon paling Faucibus in hoeng<img width="70" height="51" src="assets/12-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="12" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/aenean-nonummy-hendrerit-mauris-pari/index.html">Aenean nonummy hendrerit mauris pari<img width="70" height="51" src="assets/13-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="13" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/technology/index.html">Technology</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html"><img width="300" height="170" src="assets/2-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="Startup Stock Photo" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label> No Tags
                                                </div>
                                                <h3><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 16 Feb 2016</li>
                                                   <li>By  <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim<img width="70" height="51" src="assets/3-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="3" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/aenean-nonummy-hendrerit-mauris-pari-3/index.html">Aenean nonummy hendrerit mauris pari<img width="70" height="51" src="assets/32-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="32" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/faucibus-mollis-inter-appling-codon-paling-3/index.html">Faucibus mollis inter appling codon paling<img width="70" height="51" src="assets/31-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="31" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/sport/index.html">Sport</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html"><img width="300" height="170" src="assets/38-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="38" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-300x170.jpg 300w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label> No Tags
                                                </div>
                                                <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 16 Feb 2016</li>
                                                   <li>By  <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/02/16/mollis-inter-appling-co-doningin-2/index.html">Mollis inter appling co doningin<img width="70" height="51" src="assets/28-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="28" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/inter-appling-codon-pali-ng-faucibus/index.html">Inter appling codon pali ng Faucibus<img width="70" height="51" src="assets/2-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="Startup Stock Photo" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/mollis-inter-appling-co-doningin/index.html">Mollis inter appling co doningin<img width="70" height="51" src="assets/3-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="3" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/business/index.html">Business</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html"><img width="300" height="170" src="assets/4-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="Highways Agencys Images are protected by copyright. This Image cannot be used without a license agreement. You must comply with the license applicable to the reproduction of this Image. Terms and Conditions at www.photos.highways.gov.uk" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label> No Tags
                                                </div>
                                                <h3><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html">Aucibus mollis inter paling libero ementum</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 16 Feb 2016</li>
                                                   <li>By  <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/02/16/praesent-vestibulum-moles-3/index.html">Praesent vestibulum moles<img width="70" height="51" src="assets/35-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="35" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/mollis-inter-appling-codon-paling-faucibus-in-hoeng-3/index.html">Mollis inter appling codon paling Faucibus in hoeng<img width="70" height="51" src="assets/33-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="33" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/inter-appling-codon-pali-ng-faucibus-2/index.html">Inter appling codon pali ng Faucibus<img width="70" height="51" src="assets/29-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="29" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/health/index.html">Health</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html"><img width="300" height="170" src="assets/11-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="11" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label>  <a href="../tag/asian/index.html" rel="tag">Asian</a> 
                                                </div>
                                                <h3><a href="../2016/01/20/praesent-justo-dolor-lobortis-quis/index.html">Praesent justo dolor, lobortis quis</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 20 Jan 2016</li>
                                                   <li>By  <a href="../author/admin/index.html">admin</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/01/20/mollis-inter-appling-codon-paling-faucibus-in-hoeng/index.html">Mollis inter appling codon paling Faucibus in hoeng<img width="70" height="51" src="assets/12-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="12" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/aenean-nonummy-hendrerit-mauris-pari/index.html">Aenean nonummy hendrerit mauris pari<img width="70" height="51" src="assets/13-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="13" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/01/20/faucibus-mollis-inter-appling-codon-paling/index.html">Faucibus mollis inter appling codon paling<img width="70" height="51" src="assets/6-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="6" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="list-category-home">
                                       <div class="item-category-home">
                                          <h2 class="title-category-home"><a href="../category/travel/index.html">Travel</a></h2>
                                          <div class="post-category-leading clearfix">
                                             <div class="post-category-thum">
                                                <a href="../2016/02/16/appling-codon-paling-fauci-3/index.html"><img width="300" height="170" src="assets/36-300x170.jpg" class="attachment-300x170 size-300x170 wp-post-image" alt="36" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-300x170.jpg 300w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                             </div>
                                             <div class="post-category-info">
                                                <div class="top-post-info-extra">
                                                   <span>0</span> <label>tags:</label> No Tags
                                                </div>
                                                <h3><a href="../2016/02/16/appling-codon-paling-fauci-3/index.html">Appling codon paling Fauci</a></h3>
                                                <ul>
                                                   <li><span class="lnr lnr-clock"></span> 16 Feb 2016</li>
                                                   <li>By  <a href="../author/7uptheme/index.html">7uptheme</a></li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum, libero id imper</p>
                                             </div>
                                          </div>
                                          <div class="post-category-related">
                                             <ul>
                                                <li>
                                                   <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-3/index.html">Praesent justo dolor, lobortis quis<img width="70" height="51" src="assets/34-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="34" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/appling-codon-paling-2/index.html">Appling codon paling<img width="70" height="51" src="assets/30-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="30" /></a>
                                                </li>
                                                <li>
                                                   <a href="../2016/02/16/inter-appling-codon-pali-ng-faucibus-2/index.html">Inter appling codon pali ng Faucibus<img width="70" height="51" src="assets/29-70x51.jpg" class="attachment-70x51 size-70x51 wp-post-image" alt="29" /></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>


                           
                           <div class="wpb_column column_container col-sm-12 col-md-6">
                              <div class="vc_column-inner ">
                                 <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_custom_1457319626797">
                                       <div class="wpb_column column_container col-sm-6 col-md-6" style="padding-left:0px;">
                                          <div class="vc_column-inner ">
                                             <div class="wpb_wrapper">
                                                <div class="trending-box4">
                                                   <div class="trending-box-title">
                                                      <strong>12</strong> <span>TRENDING</span>
                                                   </div>
                                                   <div class="list-trending-box">
                                                      <div class="wrap-item">
                                                         <div class="item">
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">1. Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html"><img width="230" height="130" src="assets/3-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="3" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-300x170.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-379x214.jpg 379w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-433x244.jpg 433w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">2. Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html"><img width="230" height="130" src="assets/38-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="38" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-379x214.jpg 379w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/praesent-vestibulum-moles-3/index.html">3. Praesent vestibulum moles</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/praesent-vestibulum-moles-3/index.html"><img width="230" height="130" src="assets/35-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="35" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-379x214.jpg 379w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div class="item">
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/aenean-nonummy-hendrerit-mauris-pari-3/index.html">4. Aenean nonummy hendrerit mauris pari</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/aenean-nonummy-hendrerit-mauris-pari-3/index.html"><img width="230" height="130" src="assets/32-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="32" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-379x214.jpg 379w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/32-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/appling-codon-paling-2/index.html">5. Appling codon paling</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/appling-codon-paling-2/index.html"><img width="230" height="130" src="assets/30-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="30" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-379x214.jpg 379w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/mollis-inter-appling-co-doningin-2/index.html">6. Mollis inter appling co doningin</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/mollis-inter-appling-co-doningin-2/index.html"><img width="230" height="130" src="assets/28-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="28" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/28-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div class="item">
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-2/index.html">7. Faucibus mollis inter paling</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/faucibus-mollis-inter-paling-2/index.html"><img width="230" height="130" src="assets/26-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="26" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/26-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/26-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-2/index.html">8. Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-2/index.html"><img width="230" height="130" src="assets/52-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="OLYMPUS DIGITAL CAMERA" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/52-300x170.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/52-768x433.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/52-1024x577.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/52-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/52.jpg 1280w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/praesent-vestibulum-moles-2/index.html">9. Praesent vestibulum moles</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/praesent-vestibulum-moles-2/index.html"><img width="230" height="130" src="assets/50-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="OLYMPUS DIGITAL CAMERA" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/50-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/50-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div class="item">
                                                            <div class="item-trending-box">
                                                               <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-2/index.html">10. Praesent justo dolor, lobortis quis</a></h3>
                                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pha</p>
                                                               <div class="trending-box-thumb">
                                                                  <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-2/index.html"><img width="230" height="130" src="assets/48-230x130.jpg" class="attachment-230x130 size-230x130 wp-post-image" alt="48" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/48-230x130.jpg 230w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/48-300x170.jpg 300w" sizes="(max-width: 230px) 100vw, 230px" /></a>
                                                                  <span class="trending-comment">0</span>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="newsletter4">
                                                   <h2>NEWSLETTER</h2>
                                                   <p>Subscribe to our email Newsletter for useful tips</p>
                                                   <script type="text/javascript">(function() {
                                                      if (!window.mc4wp) {
                                                      	window.mc4wp = {
                                                      		listeners: [],
                                                      		forms    : {
                                                      			on: function (event, callback) {
                                                      				window.mc4wp.listeners.push({
                                                      					event   : event,
                                                      					callback: callback
                                                      				});
                                                      			}
                                                      		}
                                                      	}
                                                      }
                                                      })();
                                                   </script><!-- MailChimp for WordPress v3.1.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                                   <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-887" method="post" data-id="887" data-name="mailchimp" >
                                                      <div class="mc4wp-form-fields">
                                                         <p class="email-input"><input type="text" name="EMAIL" placeholder="Your email address" required /></p>
                                                         <p><input type="submit" value="Subscribe" />
                                                            <input type="reset" class="reset-val" value="No Thanks">
                                                         </p>
                                                         <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></div>
                                                         <input type="hidden" name="_mc4wp_timestamp" value="1459914889" /><input type="hidden" name="_mc4wp_form_id" value="887" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                                      </div>
                                                      <div class="mc4wp-response"></div>
                                                   </form>
                                                   <!-- / MailChimp for WordPress Plugin -->
                                                   <p>Valuable resources. Choose your preference below...</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="wpb_column column_container col-sm-6 col-md-6" style="padding-right:0px;">
                                          <div class="vc_column-inner ">
                                             <div class="wpb_wrapper">
                                                <div class="most-read-popular">
                                                   <div class="title-most-read-tab">
                                                      <ul class="nav nav-tabs" role="tablist">
                                                         <li role="presentation" class="active"><a href="#mostread" aria-controls="mostread" role="tab" data-toggle="tab">B-NEW</a></li>
                                                         <li role="presentation"><a href="#popularread" aria-controls="popularread" role="tab" data-toggle="tab">C-POP</a></li>
                                                      </ul>
                                                   </div>
                                                   <div class="content-most-read-tab">
                                                      <div class="tab-content">
                                                         <div role="tabpanel" class="tab-pane active" id="mostread">
                                                            <div class="most-read-slider">
                                                               <div class="wrap-item">
                                                                  <div class="item">
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html"><img width="120" height="80" src="assets/2-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Startup Stock Photo" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html"><img width="120" height="80" src="assets/3-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="3" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-600x400.jpg 600w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html"><img width="120" height="80" src="assets/4-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Highways Agencys Images are protected by copyright. This Image cannot be used without a license agreement. You must comply with the license applicable to the reproduction of this Image. Terms and Conditions at www.photos.highways.gov.uk" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-182x121.jpg 182w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html">Aucibus mollis inter paling libero ementum</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html"><img width="120" height="80" src="assets/38-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="38" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="item">
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/appling-codon-paling-fauci-3/index.html"><img width="120" height="80" src="assets/36-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="36" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-768x511.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-270x180.jpg 270w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/appling-codon-paling-fauci-3/index.html">Appling codon paling Fauci</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/praesent-vestibulum-moles-3/index.html"><img width="120" height="80" src="assets/35-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="35" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-120x80.jpg 120w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/praesent-vestibulum-moles-3/index.html">Praesent vestibulum moles</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-3/index.html"><img width="120" height="80" src="assets/34-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="34" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/34-270x180.jpg 270w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-3/index.html">Praesent justo dolor, lobortis quis</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/mollis-inter-appling-codon-paling-faucibus-in-hoeng-3/index.html"><img width="120" height="80" src="assets/33-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="33" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/33.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/mollis-inter-appling-codon-paling-faucibus-in-hoeng-3/index.html">Mollis inter appling codon paling Faucibus in hoeng</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                         <div role="tabpanel" class="tab-pane" id="popularread">
                                                            <div class="most-read-slider">
                                                               <div class="wrap-item">
                                                                  <div class="item">
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html"><img width="120" height="80" src="assets/2-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Startup Stock Photo" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/2.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/aenean-nonummy-hen-drerit-mauris-pari-3/index.html">Aenean nonummy hen drerit mauris pari</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html"><img width="120" height="80" src="assets/3-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="3" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-600x400.jpg 600w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/3.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/faucibus-mollis-inter-paling-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html"><img width="120" height="80" src="assets/38-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="38" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/38.jpg 1200w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/praesent-justo-dolor-lobortis-quis-lobortis-dignissim-3/index.html">Praesent justo dolor, lobortis quis, lobortis dignissim</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html"><img width="120" height="80" src="assets/4-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="Highways Agencys Images are protected by copyright. This Image cannot be used without a license agreement. You must comply with the license applicable to the reproduction of this Image. Terms and Conditions at www.photos.highways.gov.uk" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-90x60.jpg 90w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/4-182x121.jpg 182w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/aucibus-mollis-inter-paling-libero-ementum-3/index.html">Aucibus mollis inter paling libero ementum</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="item">
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/01/20/appling-codon-paling/index.html"><img width="120" height="80" src="assets/1-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="1" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1-1024x683.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/01/1.jpg 1600w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/01/20/appling-codon-paling/index.html">Appling codon paling</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 20 Jan 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/appling-codon-paling-fauci-3/index.html"><img width="120" height="80" src="assets/36-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="36" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-768x511.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-120x80.jpg 120w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-570x380.jpg 570w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-182x121.jpg 182w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/36-270x180.jpg 270w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/appling-codon-paling-fauci-3/index.html">Appling codon paling Fauci</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/praesent-vestibulum-moles-3/index.html"><img width="120" height="80" src="assets/35-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="35" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-300x200.jpg 300w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-768x512.jpg 768w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35.jpg 1024w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/35-120x80.jpg 120w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/praesent-vestibulum-moles-3/index.html">Praesent vestibulum moles</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                     <div class="item-most-read clearfix">
                                                                        <div class="most-read-thumb">
                                                                           <a href="../2016/02/16/appling-codon-paling-2/index.html"><img width="120" height="80" src="assets/30-120x80.jpg" class="attachment-120x80 size-120x80 wp-post-image" alt="30" srcset="http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-270x180.jpg 270w, http://7uptheme.com/wordpress/newday/wp-content/uploads/2016/02/30-120x80.jpg 120w" sizes="(max-width: 120px) 100vw, 120px" /></a>
                                                                        </div>
                                                                        <div class="most-read-info">
                                                                           <h3><a href="../2016/02/16/appling-codon-paling-2/index.html">Appling codon paling</a></h3>
                                                                           <span class="most-read-date"><span class="lnr lnr-clock"></span> 16 Feb 2016</span>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1457603750989  adv-shop-online">
                                                   <figure class="wpb_wrapper vc_figure">
                                                      <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="270" height="514" src="assets/ad2.png" class="vc_single_image-img attachment-full" alt="ad2" /></a>
                                                   </figure>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                     <!-- .entry-content -->
                  </article>
                  <!-- #post-## -->
               </div>
            </div>
         </div>
      </div>

      <a href="#" class="scroll-top scroll-top4"><span class="lnr lnr-location"></span> top </a>
   </div>
