<!DOCTYPE html>
<html>
<head>
  <title>Newsday</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page page-id-895 page-template page-template-visual-temlpate page-template-visual-temlpate-php  sv_1459914889 sv_1459914890 light wpb-js-composer js-comp-ver-4.10 vc_responsive">

<%= yield %>

</body>
</html>
